body{
    background-color: lightcyan;
}
h3{
    display: inline-block;
    color: white;
    text-align: center;

}
.countdown{
    font-size: 20px;
    float: right;
    color: wheat;
}

#question{
    background-color: cornflowerblue;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.choice{
    font-size: 20px;
    cursor: pointer;
    
}
.choice:hover{
    background-color: turquoise;
}
.choice:active{
    color: teal;
}
#result{
    background-color: lightsalmon;
    display: inline;
    font-style: italic;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}